@import './base-documentation.scss';

//global styles below

$theme-image-path: '~@gsa-sam/sam-styles/src/img';
$theme-font-path: '~@gsa-sam/sam-styles/src/fonts';

@import '~@gsa-sam/sam-styles/src/stylesheets/sam';



