$theme-image-path:  './../../../node_modules/@gsa-sam/sam-styles/src/img';
$theme-font-path:   './../../../node_modules/@gsa-sam/sam-styles/src/fonts';

@import "~@gsa-sam/sam-styles/src/stylesheets/sam";