$theme-image-path:  '~@gsa-sam/sam-styles/src/img';
$theme-font-path:   '~@gsa-sam/sam-styles/src/fonts';

@import "~@gsa-sam/sam-styles/src/stylesheets/sam";
@import '~@angular/cdk/overlay-prebuilt.css';

// Demo pages only
// DO NOT REUSE

.header-styles .icon-layers-counter{
  height: 1em;
  min-width: 1em;
  right: 4px;
}

.header-styles .icon-square{
  color: #70e17b;
}

.sam-example-pagination {
  line-height: 45px;
}

// MOVE TO SAM-Styles
.sds-subheader{
  display: flex; 
  align-items: center;
  background-color: #f5f5f0;
  border-bottom: 1px solid #c7c7c1;
  padding: 15px 20px;
}

.sds-subheader__title{
  font-weight: 600;
  font-size: 19px;
}

.sds-menu-panel {
  min-width: 215px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 6px;
  outline: 0;
  background-color: white;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2);
}

.sds-menu-content{
  padding-top: 8px;
  padding-bottom: 14px;
}

.sds-menu__title{
  font-size: 18px;
  font-weight: 600;
  color: #112e51;
  padding: 0px 25px 8px;
  margin-bottom: 3px;
  border-bottom: 1px solid #eae6e6;
}

.sds-menu-item {
  outline-offset: -1px !important;
  width: 100%;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  // line-height: 48px;
  // height: 40px;
  padding: 6px 15px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
  color: #112e51;
  font-weight: 600;
  font-size: 17px;
}
