# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    working_directory: ~/project/sam-design-system
    docker:
      - image: circleci/node:12.22.7-browsers
    steps:
      - checkout
      - run: npm install
      - run: npx prettier -c "libs" "apps"
      - run: npm run test:components
      - run: npm run test:material-extensions
      - run: npm run test:sam-formly
      - run: npm run publish:libs -- --dry-run
      - store_artifacts:
          path: coverage
          destination: code-coverage
