<!DOCTYPE html>
<html>

<head>
  <title>SamDesignSystem <%=componentName%> demo - <%=demoName%></title>
  <style>
    <%-styles%>
  </style>
</head>

<body>
  <div class="container-fluid margin-left-2 margin-right-2">

    <hr>

    <p>
      This is a demo example forked from the <strong>sam-design-system</strong> project.
    </p>

    <hr>
    <app-component-demo></app-component-demo>
  </div>
</body>

</html>
