html, body {
  width: 100%;
  height: 100%;
}

body {
  .mat-sidenav {
    min-width: 15vw;
    position: fixed;

    .mat-button {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }

  .demo-content {
    padding: 32px;
    box-sizing: border-box;
  }

  .mat-toolbar {
    .mat-icon {
      cursor: pointer;
    }

    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  h1 {
    font-size: 20px;
  }
}

// stretch to screen size in fullscreen mode
.demo-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.demo-container {
  min-width: 100%;
  min-height: 100%;
}
