@media (min-width: 40em) {
  .usa-header--basic .usa-navbar {
    width: 50%;
  }
}

.usa-logo {
  align-items: center;
  display: flex;
  margin-top:0.5em;
}

.usa-logo a img {
  display: flex;
  align-items: center;
}

.usa-logo a.title-text {
  font-size: 20px;
  margin-top:12px;
  margin-left: 8px;
}

