<div class="grid-container margin-top-3">
  <div class="grid-row grid-gap">
    <aside class="desktop:grid-col-3">
      <nav class="margin-bottom-2">
        <ul class="usa-sidenav">
          <li class="usa-sidenav__item">
            <a [routerLink]="['component/header']" routerLinkActive="usa-current">
              Header
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a [routerLink]="['component/footer']" routerLinkActive="usa-current">
              Footer
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a [routerLink]="['component/pagination']" routerLinkActive="usa-current">
              Pagination
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a [routerLink]="['component/toolbar']" routerLinkActive="usa-current">
              Toolbar
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a [routerLink]="['component/icon']" routerLinkActive="usa-current">
              Icon
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a [routerLink]="['formly/formly-input']" routerLinkActive="usa-current">
              Formly
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a [routerLink]="['component/sideNav']" routerLinkActive="usa-current">
              Side Navigation
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a [routerLink]="['component/searchResultList']" routerLinkActive="usa-current">
              Search Result List
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a [routerLink]="['layout/searchList']" routerLinkActive="usa-current">
              Search Result Layout Custom
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a [routerLink]="['layout/searchListService']" routerLinkActive="usa-current">
              Search Result Layout Component
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="desktop:grid-col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>