@media (min-width: 40em) {
  .usa-header--basic .usa-navbar {
    width: 50%;
  }
}

.usa-logo {
  align-items: center;
  display: flex;
  margin-top:0.5em;
}

.usa-logo a img {
  display: flex;
  align-items: center;
}

.usa-logo a.title-text {
  font-size: 20px;
  margin-top:12px;
  margin-left: 8px;
}


aside {
  padding-right: 0 !important;
  margin-right: 0 !important;
  min-height: 100%;
}

.nav-heading {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 0.3em;
}

nav .usa-link {
  font-weight: 600;
  margin-left: 0.3em;
}

nav ul li a {
  margin-left: 1em;
}

.theme-switcher{
  display: flex;
  align-items: center;
  height: 100%;
  float: right;
  .usa-button{
    padding-left: 4px;
  }

}
